* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #4e73df, #6f42c1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 40px;
    font-size: 40px;
}

.contador {
    background-color: white;
    width: 130px;
    height: 130px;
    margin: 0 auto 35px auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numero {
    font-size: 60px;
    font-weight: bold;
    color: black;
}

.botoes {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    border: none;
    padding: 14px 25px;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.vermelho { background-color: #e74a3b; }
.laranja  { background-color: #f6c23e; }
.verde    { background-color: #1cc88a; }

.btn:hover {
    opacity: 0.85;
}
