* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #4e73df, #6f42c1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: white;
}

h1 {
    font-size: 42px;
    margin-bottom: 40px;
}

.contador {
    background-color: white;
    width: 140px;
    height: 140px;
    margin: 0 auto 35px auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numero {
    font-size: 65px;
    font-weight: bold;
    color: black;
}

.botoes {
    margin-top: 10px;
}

.botoes button {
    border: none;
    padding: 15px 28px;
    margin: 0 10px;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.vermelho { background-color: #e74a3b; }
.laranja  { background-color: #f6c23e; }
.verde    { background-color: #1cc88a; }

.botoes button:hover {
    opacity: 0.85;
}

